
@{
    Layout = null;
}
@model DC.Web.Models.ProductModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Get</title>
</head>
<body>
    <table>
        <tr>
            <td><p> @Model.Id</p></td>
            <td><p>@Model.NameProduct</p></td>
            </tr>
    </table>
</body>
</html>
