@{
    Layout = null;
}

@model IList<ProductModel>
<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Some title</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <td> <p> Id </p> </td>
                <td> <p> Value </p> </td>
            </tr>
            @foreach (var product in @Model)
            {
                <tr>

                    <td><p> @Html.ActionLink(product.Id, "Get", routeValues: new { id=product.Id}) </p></td>
                    <td><p>@product.NameProduct</p></td>
                </tr>
            }
            <tr><td><p> <a href="Product/Add/"> Add </a></p></td></tr>
        </table>
        

    </div>
</body>
</html>
