
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<body>
    <div>
        <hr>
        <p> 1. To add a product -"Add" <br> 2. Enter Id and Name - "Save" </p>
    </div>
</body>