<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DataBase" 
         providerName="System.Data.SqlClient" 
         connectionString="Integrated Security=false;Data Source=LAPTOP-C5CM4KGR\SQLEXPRESS;Initial Catalog=ProductRepository;User ID=ProductUser;Password=1111;"/>
  </connectionStrings>
</configuration>